*{
    text-decoration: none;
}
:root{/*Identify th variables*/
    --white:#fdfdfd;
    --gray:#d6d8d2;
    --text-color1:rgb(15, 43, 2);
    --text-color2:rgb(255, 241, 220);
    --shadow:rgb(22, 100, 20);
    --shadow2:rgb(198, 240, 10);


}
body{
    background-color:var(--gray);
}
header{
    background-color:var(--white);
    width:100%;
    height: 100px;
    
}
header .logo{
    font-family: monospace;
    font-size: 30px;
    font-weight: bolder;
    color: var(--text-color1);
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0px;
}
header nav ul{
    width: fit-content;
    margin: 0 auto;
}
header nav ul li{
    display: inline-block;
    padding: 0 10px;
    list-style: none;
}
header nav ul li a{
    font-family: inherit;
    font-size: 16px;
    color: var(--text-color1);
}
/*header style when it became on the desktop size*/
@media screen and (min-width: 992px){
    header{
        height: 60px;   
    }
    header .logo{
        font-size: 40px;
        margin: 9px 0 ;
        line-height: 30px;
        text-align: left;
        padding: 1px 35px 12px 43px;
        border-right: 3px solid var(--text-color1);
        float: left;
    }
    header nav ul{
        width: fit-content;
        margin: 0px 20px;
        float: left;;
    }
    header nav ul li a{
        font-size: 20px;
        line-height: 60px;
    }  
}
/*iPad size*/
@media screen and (min-width: 768px){
    header{
        height: 60px;   
    }
    header .logo{
        font-size: 40px;
        margin: 9px 0 ;
        line-height: 30px;
        text-align: left;
        padding: 1px 35px 12px 43px;
        border-right: 3px solid var(--text-color1);
        float: left;
    }
    header nav ul{
        width: fit-content;
        margin: 0px 20px;
        float: left;;
    }
    header nav ul li a{
        font-size:20px;
        line-height: 60px;
    }  
}
/*Cover picture*/
.cover{
    width: 100%;
    height: calc(211vh - 900px);/*calculate 100vh-100px; means the height of this element is equal to 100% of the viewport height - the total hieght*/
    margin: 0px;
    background-image: url(../images/cover.png) ;
    background-position: center;
    background-size: cover;
}
/*subtitle on the cover*/
.cover h2{
    font-family: monospace;
    font-size: 20px;
    color:var(--text-color2);
    padding: 290px 22px;
    text-align: left;
    text-shadow: 2px 2px 8px var(--text-color1);
    line-height: 24px;
}
/*cover style when it became on the desktop size*/
@media screen and (min-width: 992px){
    .cover h2{
        font-size: 60px;
        padding: 200px 29px;
        line-height: 70px;
    }
}
/*iPad size*/
@media screen and (min-width: 768px){
    .cover h2{
        display: block;
        font-size: 50px;
        padding: 300px 29px;
        line-height: 70px;
    }
}

/*about me*/
.about-me{
    background-color:var(--white);
    width: 100%;
    margin:7px 0px;
    padding: 20px;
    box-shadow: 2px 2px 8px var(--text-color1);
    color: var(--text-color1);
}
.about-me h3{
    font-family: monospace;
    font-size: 30px;
    text-align:center;
    padding: 10px 0px;

}
@media screen and (min-width: 992px){
    .about-me{
        width: 100%;
        margin:8px 0px;
        padding: 5px;
    
    }
    .about-me h3{
        font-family: monospace;
        font-size: 40px;
        text-align:center;
        padding: 10px 0px;
    
    }
    .about-me p{
        font-size: 20px;
        text-align:center;
        padding: 30px 0px;
    }
}
@media screen and (min-width: 768px){
    .about-me{
        width: 100%;
        margin:8px 0px;
        padding: 5px;
    
    }
    .about-me h3{
        font-family: monospace;
        font-size: 40px;
        text-align:center;
        padding: 10px 0px;
    
    }
    .about-me p{
        font-size: 20px;
        text-align:center;
        padding: 30px 15px;
        line-height: 30px;

    }
}

#work h3{
    width: 100%;
    background-color: #fff;
    font-family: monospace;
    font-size: 30px;
    text-align:center;
    padding: 20px 0px;
    color: var(--text-color1);

}

.first{
    background-color:var(--white);
   
    
}
.first-web{
    width: 99%;
    height: 185px;
    margin:10px 0px;
    padding: 5px;
    /*box-shadow: 2px 2px 8px var(--text-color1);*/
    
} 
h5{
    color: var(--text-color1);
    padding: 10px 10px;
    text-align:left;
    margin:0px 5px;

}
@media screen and (min-width: 992px){
    #work h3{
        font-size: 40px;
    }
    .first{
        background-color:var(--white); 
         
    }
    .first-web{
        width: 100%;
        height: 550px;
        margin:2px 0px;
        padding: 16px 51;
        
    } 
   
}
@media screen and (min-width: 768px){
    #work h3{
        font-size: 40px;
    }
    .first{
        background-color:var(--white);   
    }
    .first-web{
        width: 100%;
        height: 310px;
        margin:2px 0px;
        
    } 
}
section{
    margin:7px 0px;
    background-color:var(--gray);

}
.other{
    background-color:var(--white);
    margin: 0px;
    float:left;
    width: 49%;
    border-radius: 1px;
    box-shadow: 2px 2px 8px var(--text-color1);;
    
}
.other1{

    background-color:var(--white);
    margin: 0px;
    float:right;
    width: 49%;
    border-radius: 1px;
    box-shadow: 2px 2px 8px var(--text-color1);;
    
}
.other-webs{
    width: 100%;
    height: 185px;
    margin:0px;
    padding: 15px;
}
@media screen and (min-width: 992px){
    .other{
        clear: both;
        box-shadow: 2px 2px 8px var(--text-color1);
        margin:2px 0px;
        padding: 16px;
            
    } 
        
    .other1{
        width: 50%;
        box-shadow: 2px 2px 8px var(--text-color1);
        margin:2px 0px;
        padding: 16px;
      
    }
    .other-webs{
        width: 100%;
        height: 300px;
        margin:17px 2px;
        padding: 2px;
    }  
}

.contact a{
    font-family: inherit;
    font-size: 16px;
    padding: 10px 0px;
    color: var(--text-color1); 
    display: flex;
    justify-content: center;
    align-items: baseline;
    
}
.contact h4{
    background-color:var(--white);
    justify-content: center;
    align-items: baseline;
    font-family: monospace;
    font-size: 30px;
    text-align:center;
    padding: 10px 0px;
    color: var(--text-color1);
}
@media screen and (min-width: 992px){
    .contact a{
        font-size: 25px;
        padding: 10px 0px;
        color: var(--text-color1); 
        display: flex;
        flex-direction: row;
        justify-content: center;
       
        
    }
    .contact h4{
        background-color:var(--white);
        justify-content: center;
        align-items: baseline;
        font-size: 40px;
        text-align:center;
        padding: 20px 0px;
    }
}






